name: Metrics
on:
  # Schedule daily updates.
  schedule: [{ cron: "0 0 * * *" }]
  # Run workflow manually.
  workflow_dispatch:
  # Run workflow when pushing on main.
  push: { branches: ["main"] }
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          output_action: gist
          committer_gist: 9da0452cac957cb412a9db7726c7df48
